/*

!/config
!/config-overrides
!/kubejs
!/defaultconfigs
!/.gitignore
!/.gitattributes
!/manifest.json
!/tools
/tools/bootstrap/.cache
!/.github
!.editorconfig
!/pack-mode-switcher*

!/mods/systeams*
!/mods/ExtendedCrafting*

/mods/.index
/mods/.connector
/mods/memoryleakfix*

/config/fml.toml
/config/jei/world/local/*
/kubejs/probe
/kubejs/config/probejs.json

config/fabric/indigo-renderer.properties
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
config/forge-client.toml
config/trofers/general.json5
config/roughlyenoughitems/config.json5
config/sidebar_buttons.json
config/oculus.properties
config/modernfix-mixins.properties
config/immediatelyfast.json
config/ftbbackups2.json
config/spark/tmp
config/spark/activity.json
config/roughlyenoughitems/hints.json
config/voicechat/username-cache.json
config/minihud/*
config/embeddium-fingerprint.json
config/chiselsandbits-client.toml
config/chiselsandbits-common.toml
config/defaultworldtype/world-presets.txt
config/jecalculation/record.json
config/voicechat/voicechat-client.properties
config/jade/sort-order.json
config/jei*
config/embeddium++.toml
config/embeddium++.toml
config/emi.css
config\darkmodeeverywhereshaders.json
config\darkmodeeverywhereshaders.toml
/config/**/*client.*
!/config/**/darkmodeeverywhere-client.toml

defaultconfigs/ftbultimine/ftbultimine-client.snbt
defaultconfigs/ftbultimine/ftbultimine-server.snbt

./options.txt

# dotenv
.env

### https://raw.github.com/github/gitignore/cc542de017c606138a87ee4880e5f06b3a306def/Global/Linux.gitignore
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### https://raw.github.com/github/gitignore/cc542de017c606138a87ee4880e5f06b3a306def/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### https://raw.github.com/github/gitignore/cc542de017c606138a87ee4880e5f06b3a306def/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
kubejs/assets/gtceu/textures/item/material_sets/infinity/infinity_plate.xcf
config/packmode.json
config/gtceu.yaml
config/darkmodeeverywhereshaders.json
