# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# 

general {
    # If the recipe book button is removed.
    # Default: true
    B:"Remove Recipe Book Button"=true

    # If the crafting table has a tooltip
    # Default: false
    B:"Disable tooltip on crafting table"=false

    # The tick interval at which all pooled grid updates will be run. Duplicate updates within the interval will be squashed.
    # Default: 2; Range: [1 ~ 100]
    I:"Grid Update Interval"=2
}


