// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "logLevel": "INFO",
  "autoMapPoll": "3000",
  "cacheAnimalsData": "6200",
  "cacheMobsData": "6000",
  "cachePlayerData": "1500",
  "cachePlayersData": "3000",
  "cacheVillagersData": "4400",
  "announceMod": "true",
  "checkUpdates": "false",
  "recordCacheStats": "false",
  "themeName": "OceanMonument",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "false",
  "mapWaterBiomeColors": "false",
  "mapTopography": "true",
  "mapBiome": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "mapAntialiasing": "false",
  "mapPlantShadows": "false",
  "mapPlants": "false",
  "mapCrops": "true",
  "mapBlendGrass": "false",
  "mapBlendFoliage": "false",
  "mapBlendWater": "false",
  "mapSurfaceAboveCaves": "true",
  "caveBlackAsClear": "false",
  "renderDistanceCaveMax": "0",
  "renderDistanceSurfaceMax": "0",
  "renderDelay": "3",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "tileHighDisplayQuality": "false",
  "maxAnimalsData": "24",
  "maxMobsData": "24",
  "maxPlayersData": "24",
  "maxVillagersData": "24",
  "hideSneakingEntities": "true",
  "hideSpectators": "false",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "tileRenderType": "1",
  "dataCachingEnabled": "true",
  "glErrorChecking": "false",
  "seedId": "false",
  "mappingEnabled": "true",
  "optionsManagerViewed": "5.10.3",
  "splashViewed": "5.10.3",
  "gridSpecs": {
    "day": "Squares,#808080,0.5,-1,-1",
    "night": "Squares,#8080ff,0.3,-1,-1",
    "underground": "Squares,#808080,0.3,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.10.3"
}